.list {
  padding: 0;

  &-item {
    list-style-type: none;
    margin-top: 25px;
  }

  &-empty {
    font-weight: bold;
    font-size: 30px;
    padding: 100px;
    text-align: center;
    color: rgba(80, 80, 80, 0.589);
  }
}
