.post-page {
  padding: 45px 0;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.show-content {
  margin-top: 45px;
}
